{{- if .Values.virtualService.enabled -}}
{{- $fullName := include "mui-test-app1.fullname" . -}}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "mui-test-app1.name" . }}
    helm.sh/chart: {{ include "mui-test-app1.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
{{- if .Values.virtualService.hosts }}
  hosts:
  {{- range .Values.virtualService.hosts }}
    - {{ . }}
  {{- end }}
{{- end }}
{{- if .Values.virtualService.gateways }}
  gateways:
  {{- range .Values.virtualService.gateways }}
    - {{ . }}
  {{- end }}
{{- end }}
  http:
  {{- range .Values.virtualService.uriPrefixes }}
  - match:
    - uri:
        prefix: {{ . | quote }}
    route:
    - destination:
        host: {{ $fullName }}
        port:
          number: {{ $port }}
  {{- end }}{{- range .Values.virtualService.uriExactMatches }}
  - match:
    - uri:
        exact: {{ . | quote }}
    route:
    - destination:
        host: {{ $fullName }}
        port:
          number: {{ $port }}
  {{- end }}
{{- end }}